Repository hassantayyab/angular-ai-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,js,json,md,html,css}": ["prettier --write"],
  "*.{ts,js}": ["eslint --fix"]
}

chore: Add configuration files and update package metadata for Angular AI Kit
  .npmrc
  PLAN.md
  nx.json
  package.json
  packages/angular-ai-kit/LICENSE
  packages/angular-ai-kit/README.md
  packages/angular-ai-kit/package.json
  packages/tokens/LICENSE
  packages/tokens/README.md
  packages/tokens/package.json
  packages/utils/LICENSE
  packages/utils/README.md
  packages/utils/package.json
Due: prettier --write

docs: Add npm publishing guide to PRODUCTION-READINESS.md
  PRODUCTION-READINESS.md
Due: prettier --write

docs: Update PRODUCTION-READINESS.md to reflect completion of Phase 1
  PRODUCTION-READINESS.md
Due: prettier --write

feat: Add comprehensive setup guide and enhance token package documentation
  PRODUCTION-READINESS.md
  SETUP.md
  packages/tokens/README.md
  packages/tokens/package.json
  packages/tokens/src/lib/tokens/animations.css
  packages/tokens/src/lib/tokens/code-theme.css
  packages/tokens/src/lib/tokens/index.css
  packages/tokens/src/lib/tokens/prose.css
  packages/tokens/src/lib/tokens/theme.css
  packages/tokens/src/lib/tokens/tokens.css
Due: prettier --write

docs: Add npm badges and fix GitHub URLs
  README.md
Due: prettier --write

chore: Add Vercel configuration for deployment
  vercel.json
Due: prettier --write

docs: Update production readiness with completed milestones
  PRODUCTION-READINESS.md
Due: prettier --write

docs: Add critical Git rules to CLAUDE.md
  .claude/CLAUDE.md
Due: prettier --write

feat: Add @angular-ai-kit/cli package
  nx.json
  package-lock.json
  package.json
  packages/cli/package.json
  packages/cli/project.json
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/list.ts
  packages/cli/src/index.ts
  packages/cli/src/registry/components.json
  packages/cli/src/utils/file-utils.ts
  packages/cli/src/utils/get-project-info.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/logger.ts
  packages/cli/tsconfig.json
Due: prettier --write, eslint --fix

docs: Update README.md to include @angular-ai-kit/cli package badge and description
  README.md
Due: prettier --write

feat: Add README.md for @angular-ai-kit/cli package and include it in package.json files list
  packages/cli/README.md
  packages/cli/package.json
Due: prettier --write

chore: Bump version of @angular-ai-kit/cli to 0.1.1
  packages/cli/package.json
Due: prettier --write

docs: Update PRODUCTION-READINESS.md to reflect completion of CLI Tool development
  PRODUCTION-READINESS.md
Due: prettier --write

fix: Adjust sidebar component styles for improved layout
  apps/demo/src/app/components/sidebar/sidebar.component.html
  libs/spartan-ui/sidebar/src/lib/hlm-sidebar-content.ts
Due: prettier --write, eslint --fix

fix: Update sidebar link to point to the correct GitHub repository
  apps/demo/src/app/components/sidebar/sidebar.component.html
Due: prettier --write

feat: Enhance sidebar navigation and update documentation page layout
  apps/demo/src/app/components/sidebar/sidebar.component.html
  apps/demo/src/app/pages/docs/docs-page.component.html
Due: prettier --write

fix: Update icon references in sidebar and AI icons
  apps/demo/src/app/components/sidebar/sidebar.component.html
  apps/demo/src/app/components/sidebar/sidebar.component.ts
  packages/angular-ai-kit/src/lib/icons/ai-icons.ts
Due: prettier --write, eslint --fix

refactor: Simplify card layout and update descriptions in documentation home page
  apps/demo/src/app/pages/docs/home/docs-home.component.html
  apps/demo/src/app/pages/docs/home/docs-home.component.ts
Due: prettier --write, eslint --fix

feat: Add logo and favicon assets for Angular AI Kit
  apps/demo/public/favicon.ico
  apps/demo/public/favicon.svg
  apps/demo/public/logo-dark.svg
  apps/demo/public/logo-light.svg
  apps/demo/public/logo.svg
  apps/demo/public/site.webmanifest
  apps/demo/src/app/components/empty-state/empty-state.component.html
  apps/demo/src/app/components/empty-state/empty-state.component.ts
  apps/demo/src/app/components/index.ts
  apps/demo/src/app/components/logo/index.ts
  apps/demo/src/app/components/logo/logo.component.html
  apps/demo/src/app/components/logo/logo.component.ts
  apps/demo/src/app/components/sidebar/sidebar.component.html
  apps/demo/src/app/components/sidebar/sidebar.component.ts
  apps/demo/src/index.html
  package-lock.json
  package.json
  scripts/generate-favicon.js
Due: prettier --write, eslint --fix

docs: Add CHANGELOG.md and update README.md for component details
  CHANGELOG.md
  PRODUCTION-READINESS.md
  apps/demo/src/app/components/sidebar/sidebar.component.ts
  packages/angular-ai-kit/README.md
Due: prettier --write, eslint --fix

feat: Add Open Graph and Twitter meta tags to index.html and include component library image
  apps/demo/public/Angular-AI-component-library.png
  apps/demo/src/index.html
Due: prettier --write

feat: Add SEO configuration files and update index.html for improved search engine visibility
  .env.example
  .gitignore
  apps/demo/public/SEO-README.md
  apps/demo/public/robots.txt
  apps/demo/public/sitemap.xml
  apps/demo/src/index.html
Due: prettier --write

chore: Update Angular AI component library image asset
  apps/demo/public/Angular-AI-component-library.png
Due: none

refactor: Clean up chat example component layout and remove unused feedback functionality
  apps/demo/src/app/pages/docs/examples/full-chat/full-chat-example.component.html
  apps/demo/src/app/pages/docs/examples/full-chat/full-chat-example.component.ts
Due: prettier --write, eslint --fix

feat: Add AttachmentCard component for file attachment display in chat input
  apps/demo/src/app/components/attachment-card/attachment-card.component.html
  apps/demo/src/app/components/attachment-card/attachment-card.component.ts
  apps/demo/src/app/components/attachment-card/index.ts
  apps/demo/src/app/components/chat-input/chat-input.component.html
  apps/demo/src/app/components/chat-input/chat-input.component.ts
  apps/demo/src/app/components/index.ts
Due: prettier --write, eslint --fix

feat: Introduce TopNavComponent for mobile navigation and update chat and docs pages
  apps/demo/src/app/components/chat-view/chat-view.component.html
  apps/demo/src/app/components/chat-view/chat-view.component.ts
  apps/demo/src/app/components/index.ts
  apps/demo/src/app/components/sidebar/sidebar.component.html
  apps/demo/src/app/components/sidebar/sidebar.component.ts
  apps/demo/src/app/components/top-nav/index.ts
  apps/demo/src/app/components/top-nav/top-nav.component.html
  apps/demo/src/app/components/top-nav/top-nav.component.ts
  apps/demo/src/app/pages/docs/docs-page.component.html
  apps/demo/src/app/pages/docs/docs-page.component.ts
Due: prettier --write, eslint --fix

fix: Update component links in DocsOverviewComponent for correct routing
  apps/demo/src/app/pages/docs/docs-overview.component.ts
Due: prettier --write, eslint --fix

docs: Revise README.md for clarity and organization
  README.md
Due: prettier --write

docs: Update documentation links and enhance README.md structure
  CONTRIBUTING.md
  README.md
  apps/demo/src/app/pages/docs/components/ai-response/ai-response-doc.component.ts
  apps/demo/src/app/pages/docs/guides/faq/faq.component.html
  apps/demo/src/app/pages/docs/guides/troubleshooting/troubleshooting.component.html
  apps/demo/src/app/services/chat.service.ts
Due: prettier --write, eslint --fix

fix: Update ESLint configuration and clean up HTML components
  apps/demo/eslint.config.mjs
  apps/demo/src/app/components/chat-input/chat-input.component.html
  apps/demo/src/app/components/doc-ui/doc-select-control/doc-select-control.component.html
  apps/demo/src/app/components/spartan-components/field-hear.ts
  apps/demo/src/app/components/spartan-components/notion-prompt.ts
Due: prettier --write, eslint --fix

feat: Implement Angular AI Kit schematics for easy installation and configuration
  README.md
  package-lock.json
  packages/angular-ai-kit/README.md
  packages/angular-ai-kit/collection.json
  packages/angular-ai-kit/ng-package.json
  packages/angular-ai-kit/package.json
  packages/angular-ai-kit/project.json
  packages/angular-ai-kit/schematics/ng-add/index.ts
  packages/angular-ai-kit/schematics/ng-add/schema.json
  packages/angular-ai-kit/schematics/tsconfig.json
Due: prettier --write, eslint --fix

chore: Update @spartan-ng/brain to 0.0.1-alpha.597
  package-lock.json
  package.json
Due: prettier --write

chore: Add new dependencies clsx and tailwind-merge to Angular AI Kit schematics
  packages/angular-ai-kit/schematics/ng-add/index.ts
Due: prettier --write, eslint --fix

chore: Bump version numbers for Angular AI Kit packages to 0.1.1
  packages/angular-ai-kit/package.json
  packages/angular-ai-kit/schematics/ng-add/index.ts
  packages/tokens/package.json
  packages/utils/package.json
Due: prettier --write, eslint --fix

chore: Refactor Spartan UI Brain dependencies in Angular AI Kit
  packages/angular-ai-kit/package.json
  packages/angular-ai-kit/schematics/ng-add/index.ts
Due: prettier --write, eslint --fix

chore: Bump version to 0.1.4 and update tailwind-merge dependency
  packages/angular-ai-kit/package.json
Due: prettier --write

chore: Bump version to 0.1.5 and update Spartan UI Brain dependency
  packages/angular-ai-kit/package.json
  packages/angular-ai-kit/schematics/ng-add/index.ts
Due: prettier --write, eslint --fix

chore: Update preVersionCommand in nx.json and bump @angular-ai-kit/core version to 0.1.5
  nx.json
  packages/angular-ai-kit/schematics/ng-add/index.ts
Due: prettier --write, eslint --fix
